# Default ignored files
/shelf/
/workspace.xml
/misc.xml
/modules.xml
/profiles_settings.xml
/Project_Default.xml
/task_tracker.iml
/vcs.xml
/.idea/.gitignore
/.idea/dataSources.xml
/collected_code.txt
/.idea/misc.xml
/.idea/modules.xml
/.idea/task_tracker.iml
/.idea/vcs.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/db.sqlite3
